
body {
    background: white;
    margin: 0;
    padding: 16px;
}

/* this styles should be shared with outer.css */
.sticky-bar {
    overflow: auto; /* clean collapsing margins */
    visibility: hidden; /* only reserve the place without being rendered */
}